{% extends "base.html" %}

{% block content %}
  {# { page.content | safe } #}

    <h2>A parallel quest in elixir</h2>

    <p>Mussum Ipsum, cacilds vidis litro abertis. 
        Cevadis im ampola pa arma uma pindureta. 
        Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. 
        Aenean sit amet nisi. 
        Delegadis gente finis, bibendum egestas augue arcu ut est. 
        Admodum accumsan disputationi eu sit. Vide electram sadipscing et per.</p>

    <p>Diuretics paradis num copo é motivis de denguis. 
        Per aumento de cachacis, eu reclamis. 
        Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. 
        Sed non consequat odio. Vehicula non. Ut sed ex eros. 
        Vivamus sit amet nibh non tellus tristique interdum. </p>
{% endblock content %}
