
*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --font-size: 1.05rem;
    --code-font-size: .85rem;
    --serif-font: 'Roboto', sans-serif;
    --sans-font: 'Roboto', sans-serif;
    --color: #2a3a3a;
}

html {
    min-height: 100vh;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: #ececec;
    font-family: var(--sans-font);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size);
}

#main {
    flex-grow: 1;
    padding: .8em 1.1em .8em .8em;
}

aside {
    padding: 1.5em;
    text-align: center;
}

#content {
    max-width: 600px;
    margin: auto;
}

h1, h2, h3, h4 {
    margin: 18px 0 15px;
    font-family: var(--sans-font);
    font-weight: 700;
    color: #222831;
}

article h2, 
article h3, 
article h4 {
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #cecfd1;
}

h1 { font-size: 2.3rem; }
h2 { font-size: 2.1rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.3rem; }
h5 { font-size: 1.3rem; }
h6 { font-size: 1.3rem; }

small {
    color: var(--color);
}

li, p {
    color: var(--color);
    font-family: var(--serif-font);
    font-size: var(--font-size);
    line-height: 1.6em;
}

#main a {
    color: #262626;
    text-decoration: none;
    border-bottom: 1px solid #8c8aa4;
}

#main a:hover {
    transition: all .5s ease-in-out;
    border-bottom: 1px solid #262626;
}

p code {
    font-size: calc(var(--font-size) * .9);
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    padding: 0 .25em;
    background-color: #d3d3d3;
    background-blend-mode: darken;
    border-radius: 3px;
}

pre {
    border-radius: 4px;
}

pre code {
    font-size: var(--code-font-size);
    display: block;
    padding: .8em .7em;
    max-width: 100%;
    overflow-x: auto;
    line-height: 1.4em;
}

hr {
    border: 0;
    height: 1px;
    width: 80%;
    margin: inherit 15%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0));
}

#main hr {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

/* ================================================== */

aside picture img {
    display: inline-block;
    border-radius: 50%;
    border: 8px solid #c1c0c6;
}



/* ================================================== */

#header-wrapper, footer {
    background-color: #2f2e35;
    color: #f0f0f0;
    margin: 0;
    flex-grow: 0;

    & a {
        color: #dadcdd;
        padding-bottom: 1px;
        border-bottom: 0;
    }

    & a:hover {
        border-bottom: 1px solid #dadcdd;
        padding-bottom: 0;
    }
}

header {
    padding: 1em;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
}

header nav {
    margin-left: auto;
}

header a {
    margin: 6px;
    font-weight: 500;
    text-decoration: none;
}

footer {
    margin-top: 40px;
    text-align: center;
}

footer a {
    text-decoration: none;
}

footer .socials {
    font-size: xx-large;
    display: flex;
    justify-content: center;
    gap: .7rem;
}

footer div {
    margin: 1rem;
}

